html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    max-width:100%;
}
.amap-info-content{position:relative;background:#fff;border:1px solid #95ce2a;border-radius:6px;padding:10px;width:auto;display:inline-block;overflow: initial;box-shadow:0 0 5px rgba(48,207,191,.5)}
.amap-info-content:after,.amap-info-content:before{top:100%;left:50%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none}
.amap-info-content:after{border-color:rgba(255,255,255,0);border-top-color:#fff;border-width:8px;margin-left:-8px}
.amap-info-content:before{border-color:rgba(48,207,191,0);border-top-color:#95ce2a;border-width:9px;margin-left:-9px}
.amap-info-sharp,.amap-info-close{display:none;}
input,button{padding:0;border:0;}
#container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.button-group {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 12px;
    padding: 10px;
}

.button-group .button {
    height: 28px;
    line-height: 28px;
    background-color: #0D9BF2;
    color: #FFF;
    border: 0;
    outline: none;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    margin-bottom: 4px;
    cursor: pointer;
}
.button-group .inputtext {
    height: 26px;
    line-height: 26px;
    border: 1px;
    outline: none;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    margin-bottom: 4px;
    cursor: pointer;
}

#tip {
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    font-size: 12px;
    right: 10px;
    top: 20px;
    border-radius: 3px;
    border: 1px solid #ccc;
    line-height: 30px;
}


.amap-info-content {
    font-size: 12px;
}

#myPageTop {
    position: absolute;
    top: 5px;
    left: 8px;
    font-family: "Microsoft Yahei", "微软雅黑", "Pinghei";
    font-size: 14px;
}

#panel {
  position: fixed;
  background-color: white;
  max-height: 90%;
  overflow-y: auto;
  top: 10px;
  right: 10px;
  width: 280px;
}
#myPageTop{
    width:100%;
    margin-top:5px;
    height:30px;
}
#myPageTop .input-box{
    width:95%;
    height:30px;
    background:#6bb1f7;
    border-radius:5px;
}
#myPageTop_hint{
  width: 95%;
    margin-top:5px;
    background:rgba(235,235,235,0.7);
    overflow:hidden;

}
#myPageTop_hint div{
    width:50%;
    float:left;
}
#myPageTop_hint p{
    width:100%;
    text-align:center;
    margin:5px 0;
}
#myPageTop_hint div p span{color:red;}
#myPageTop .input-box input{
    height:28px;
    margin:1px 0 0 1px;
    width:83%;
    border-radius:5px;
    padding-left:10px;
    position:relative;
}
#myPageTop .input-box button{
    height:30px;
    line-height:30px;
    background:#6bb1f7;
    color:#fff;
    width:12%;
    text-align:center;
    border-radius:5px;
}
#myPageTop .input-box svg{
    position:absolute;
    top:6px;
    left:2px;
    z-index:100;
}
.left-bottom-botton{
    position:absolute;
    bottom:60px;
    left:11px;
}
.left-bottom-botton button{
    padding:3px;
    background:#6bb1f7;
    color:#fff;
}
.amap-marker .amap-marker-content div{    background-size: 100% auto;}